<mat-card class="card mat-elevation-z4">
    <mat-card-title class="title">DELETE</mat-card-title>
    <mat-card-subtitle class="subtitle">DELETE</mat-card-subtitle>

    <form >
        <mat-form-field class="form-field">
            <mat-label>Nome</mat-label>
            <input matInput disabled [(ngModel)]="categoria.nome" type="text" name="nome" placeholder="nome" >
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Descricao</mat-label>
            <textarea rows="5"  matInput disabled [(ngModel)]="categoria.descricao" type="text" name="descricao" placeholder="descicao"></textarea>
        </mat-form-field>
        <div class="button">
            <button (click)="delete()" mat-stroked-button color="primary">delete</button>
            <button (click)="cancel()" mat-stroked-button color="warn">cancel</button>
        </div>
    </form>
</mat-card>