<mat-sidenav-container >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" opened>
        <div class="container">
        </div>
        <mat-nav-list>
            <a routerLink="" mat-list-item><mat-icon>home</mat-icon>Home</a>
            <a routerLink="categoria" mat-list-item><mat-icon>book</mat-icon>Categoria</a>
            <a mat-list-item><mat-icon>list</mat-icon>Livros</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>